# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar la base de datos inyectada (los json personales)
public/data/projects/*
!public/data/projects/.gitkeep
public/data/projects_index.json
public/data/profile.json
public/data/connections.json
